# Created by https://www.gitignore.io/api/angular,dotnetcore,aspnetcore
# Edit at https://www.gitignore.io/?templates=angular,dotnetcore,aspnetcore

### Angular ###
## Angular ##
# compiled output
dist/
packages/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/
.vs


# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store/
Thumbs.db

# Common node modules locations
/node_modules
/wwwroot/node_modules

*.cache
*.dll
*.exe
*.pdb
*.force
*.txt
*.stackdump
*.csproj.user
*.CopyComplete
*.xml
*.config
*.cache
*.user
*.pubxml
*.vspscc
/Main/obj/Release
/Front-End/Scripts
/WebServices/obj/Release
/Logica/obj/Release
/DBManager/obj/Release
/DBManager/obj/Debug
/Front-End/obj/
/WebServices/bin/Debug/
/WebServices/obj/Debug/
/externo/Front-End/Scripts/
/api_consulta_sigres_som/obj/
/automatizacion_sigres/obj/
/SigresSom_Console/obj/



# End of https://www.gitignore.io/api/angular,dotnetcore,aspnetcore
/DBManager/obj/Debug/edmxResourcesToEmbed
