<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="JWT_SECRET_KEY" value="f304bc563271c97c869acee8747a0f5c" />
    <add key="JWT_EXPIRE_MINUTES" value="3" />
    <add key="ENCRYPTION_KEY" value="4uLJXmU9gaMqu7yZnnRaH2hS9VCUUbzTNkbE8W5MLzLK2bL3x7WFxWvTd37rdYXAvA5J8jrGhDvF7D4XR3VYgU47EnyXGZqEHyxhwxS7bAU7kmuxRLfM6Ytc7p7C7vA7aD848gyTELEFONICAb7rjRjXBfZmsX9GFXwArRIoRStn2UBBUjNeYhVtURXDCKZGxHG8454KsySBhD4txrsJymh2wH9G7C9BD4sr78VztsFcGxjDzAkS7WfgT" />
    <add key="ENCRYPTION_BYTE" value="0x49,0x76,0x61,0x6e,0x20,0x4d,0x65,0x64,0x76,0x65,0x64,0x65,0x76" />
    <!--
    Entorno:
    0: Desarrollo
    1: Test
    2: Producción
    -->
    <add key="Entorno" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="DB_CONNECTION_DEV" connectionString="fU714lLLUmaIbUHx3HbDM57duw2YwKBJQ4R5qRunKhAcecYcbQUrCNaRhOmceW9Y5FuiShVyNVpu86uJ8FedlRjU9PskizyrIDeG0zmJU5+NNa9A6SJOStI6dNDzf7wHRJQRcgmxbCJRauJyNRO4WpUXtPg/BhCHcYWIk2pyIm8ynunRldptW6pAuEYKlU98j4B1aaHT/tThlp6FrnaqxSwNfPdKu9VTPeJD9ZbuxzyXPsJ3EzPzbn9l6wSVJYFeKemSXioqBgAYp1EqPhw49j5nM7xNeH42xYjWXq6VTj3Sgq+McK7RSWME9Dyv9tSc" />
    <add name="DB_CONNECTION_TEST" connectionString="fU714lLLUmaIbUHx3HbDM57duw2YwKBJQ4R5qRunKhAcecYcbQUrCNaRhOmceW9Y5FuiShVyNVpu86uJ8FedlRjU9PskizyrIDeG0zmJU5+NNa9A6SJOStI6dNDzf7wHRJQRcgmxbCJRauJyNRO4WpUXtPg/BhCHcYWIk2pyIm8ynunRldptW6pAuEYKlU98j4B1aaHT/tThlp6FrnaqxSwNfPdKu9VTPeJD9ZbuxzyXPsJ3EzPzbn9l6wSVJYFeKemSXioqBgAYp1EqPhw49j5nM7xNeH42xYjWXq6VTj3Sgq+McK7RSWME9Dyv9tSc" />
    <add name="DB_CONNECTION_PROD" connectionString="fU714lLLUmaIbUHx3HbDM57duw2YwKBJQ4R5qRunKhAcecYcbQUrCNaRhOmceW9Y5FuiShVyNVpu86uJ8FedlRjU9PskizyrIDeG0zmJU5+NNa9A6SJOStI6dNDzf7wHRJQRcgmxbCJRauJyNRO4WpUXtPg/BhCHcYWIk2pyIm8ynunRldptW6pAuEYKlU98j4B1aaHT/tThlp6FrnaqxSwNfPdKu9VTPeJD9ZbuxzyXPsJ3EzPzbn9l6wSVJYFeKemSXioqBgAYp1EqPhw49j5nM7xNeH42xYjWXq6VTj3Sgq+McK7RSWME9Dyv9tSc" />
    <add name ="DB_CONNECTION_SOM_DEV" connectionString="f/GgFUJ2C++5/uRQZD8TqjCUjeIFYT2cvMCY7B4aolK/McFB4UdDVJuWDjGkg4QF8HrA33BXPKJvnfPiG6T0fDOO2eEu06e5xl1Hs2ebIEb+3ORHwRpXW5BrUMtLPA6JUhKhBwFAM6c0Hg89nbJSbNwHQrk/frx1iJxK6jCdN693uaSBdVz6UFYkFh8nJxM9ipJAWveT9hcRKSx7al0oMwhvmH8blsNk/qdXFnm7UG7pUa+fPhA8NZGoG2lZfdT3NN4UG4niP4WVcuRgcIxM+ZI+VJ8YfuIN+x8ItPjE4MJDBoJPj6ptOgGrwkFnecMykWbxyenZ8e+xQRL3Pyk/mXRjXfcym2fD8AKU9chA99oE6wQkxwXaIiDUKBtqvcjEpGuYK68OaVzPc/AzQVnhtmAmE1Q5uuPahoMdJdcM9v3ozr+8ChiDqTQrdswoQJ61QBVsv2fRlYDKixV9LOqd4xgFFajs8kYpoD4YJjE7mEmpu8IiKzOje1GlDeqWE1iWQU5rC2glZcsyBnQLreibMngBvZWTLdSfgEzPZh1dHSDfMjTDQqUH8UocXBTQqYjF9R71/84aZh5jE2CQogeh3w=="/>
    <add name ="DB_CONNECTION_SOM_TEST" connectionString="f/GgFUJ2C++5/uRQZD8TqjCUjeIFYT2cvMCY7B4aolK/McFB4UdDVJuWDjGkg4QF8HrA33BXPKJvnfPiG6T0fDOO2eEu06e5xl1Hs2ebIEb+3ORHwRpXW5BrUMtLPA6JUhKhBwFAM6c0Hg89nbJSbNwHQrk/frx1iJxK6jCdN693uaSBdVz6UFYkFh8nJxM9ipJAWveT9hcRKSx7al0oMwhvmH8blsNk/qdXFnm7UG7pUa+fPhA8NZGoG2lZfdT3NN4UG4niP4WVcuRgcIxM+ZI+VJ8YfuIN+x8ItPjE4MJDBoJPj6ptOgGrwkFnecMykWbxyenZ8e+xQRL3Pyk/mXRjXfcym2fD8AKU9chA99oE6wQkxwXaIiDUKBtqvcjEpGuYK68OaVzPc/AzQVnhtmAmE1Q5uuPahoMdJdcM9v3ozr+8ChiDqTQrdswoQJ61QBVsv2fRlYDKixV9LOqd4xgFFajs8kYpoD4YJjE7mEmpu8IiKzOje1GlDeqWE1iWQU5rC2glZcsyBnQLreibMngBvZWTLdSfgEzPZh1dHSDfMjTDQqUH8UocXBTQqYjF9R71/84aZh5jE2CQogeh3w=="/>
    <add name ="DB_CONNECTION_SOM_PROD" connectionString="f/GgFUJ2C++5/uRQZD8TqjCUjeIFYT2cvMCY7B4aolK/McFB4UdDVJuWDjGkg4QF8HrA33BXPKJvnfPiG6T0fDOO2eEu06e5xl1Hs2ebIEb+3ORHwRpXW5BrUMtLPA6JUhKhBwFAM6c0Hg89nbJSbNwHQrk/frx1iJxK6jCdN693uaSBdVz6UFYkFh8nJxM9ipJAWveT9hcRKSx7al0oMwhvmH8blsNk/qdXFnm7UG7pUa+fPhA8NZGoG2lZfdT3NN4UG4niP4WVcuRgcIxM+ZI+VJ8YfuIN+x8ItPjE4MJDBoJPj6ptOgGrwkFnecMykWbxyenZ8e+xQRL3Pyk/mXRjXfcym2fD8AKU9chA99oE6wQkxwXaIiDUKBtqvcjEpGuYK68OaVzPc/AzQVnhtmAmE1Q5uuPahoMdJdcM9v3ozr+8ChiDqTQrdswoQJ61QBVsv2fRlYDKixV9LOqd4xgFFajs8kYpoD4YJjE7mEmpu8IiKzOje1GlDeqWE1iWQU5rC2glZcsyBnQLreibMngBvZWTLdSfgEzPZh1dHSDfMjTDQqUH8UocXBTQqYjF9R71/84aZh5jE2CQogeh3w=="/>
    
  </connectionStrings>
    <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
